################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WPFZ80MapEditor/v15
/Script Compiler/x64/Debug
/WPFZ80MapEditor/bin/x64/Debug
/WPFZ80MapEditor/obj/x64/Debug
/WPFZ80MapEditor/obj/x86/Debug
/WPFZ80MapEditorExe/bin/x64/Debug
/WPFZ80MapEditorExe/obj
/WPFZ80MapEditorTest/obj/Debug
/WPFZ80MapEditorTest/obj
/x64/Debug
/Irony/obj
/.vs/WPFZ80MapEditor/DesignTimeBuild
/Irony/bin
/VB Zelda Script Compiler/bin
/VB Zelda Script Compiler/obj
/WPFZ80MapEditorTest/bin/x64/Debug
